<server description="Sample Liberty server">
	<featureManager>
		<feature>beanValidation-3.0</feature>	   
		<feature>mpConfig-3.0</feature>
		<feature>passwordUtilities-1.0</feature>
		<feature>restfulWS-3.1</feature>
		<feature>cdi-4.0</feature>
		<feature>jsonb-3.0</feature>
	</featureManager>
	
	<httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

	<webApplication location="CloudantSample.war" contextRoot="/"/>
  	
  	<variable name="cloudant.apikey" value="PnRdwcfLH-Gu4mY5UtuJRsNup4Fp3ZBzYV0AFZ8VTxgb"/>
  	<variable name="cloudant.servicename" value="Cloudant-rv01"/>
  	<variable name="cloudant.host" value="c904df7d-4c02-450b-9ab2-d62aeb297151-bluemix.cloudantnosqldb.appdomain.cloud"/>
    <variable name="cloudant.dbname" value="admin"/> <!-- Use admin to avoid configuring the container with users-->

</server>